main
    display flex
    margin 16px
    border 2px solid grey
    border-radius 8px

.track
    padding 8px

#left
    width 65%
    // display flex
    background-color whitesmoke

.recording
    background-color red
    color white
    
#right
    width 35%
#master
    padding 8px
#input
    padding 8px
#transport
    padding 8px