basicSpacing = .5rem

main
    display flex
    margin calc(basicSpacing * 2)
    border 2px solid grey
    border-radius basicSpacing

.item-box
    padding .5rem
    
.item-box label,
.item-box input
    display block

.track
    display flex
    align-items center
    padding basicSpacing

#left
    width 65%
    // display flex
    background-color whitesmoke

.recording
    background-color red
    color white
    
#right
    width 35%
#master
    padding basicSpacing
#input
    padding basicSpacing
#transport
    padding basicSpacing