section#transport
    .item-box
        label(for="playbackPosition") Playback Position
        input(type="text" value="0" id="playbackPosition")
    .item-box
        button#record record
        button#play play
        button#stop stop