doctype html
html
    head
        title 4-track
    body
        main
            button(id="start") start
            button(id="stop" disabled) stop
            audio(controls hidden)
        script(src="scripts/main.js")