doctype html
html
    head
        title 4-track
        link(href="styles/main.styl" rel="stylesheet")
    body
        main
            section#mixer
                - let trackNumber = 1
                while trackNumber < 5
                    div.track(id=trackNumber)
                        button.start start
                        button.stop(disabled) stop
                        audio(controls hidden)
                        - trackNumber++
            
            section#transport
                button#play play
                button#stop stop
        script(src="scripts/main.js")